<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/common.css">
        <link rel="icon" href="../assets/icon.png">
        <title>account deactivated - chat-site</title>
    </head>
    <body>
        <h1>Your account has been disabled, for more info contact a dev</h1>
    </body>
</html>