<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="icon" href="../assets/icon.png">
    <title>home - chat-site</title>
</head>
<body>
    <div id="main-content">
        <h1 id="chats-title">Chats</h1>
        <button class="slide-button" id="new-room" onclick="window.location.href = '/chats/new'">Make a new room</button>
        <div id='room-container'>
            <% rooms.map(room => { %>
                <!-- <div class="room"> -->
                    <a href="/chats/<%=room._id%>" class="room-link"><%= room.name %></a>
                    <br>
                <!-- </div> -->
            <% }) %>
        </div>
    </div>
</body>
</html>