<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sussy</title>
</head>
<body>
    Under Construction!
    <input id="button" type="button" value="sldkjflksdjf">
</body>
<script>
    document.getElementById('button').addEventListener('click', async (event) => {
        event.preventDefault()
        let r = await fetch("/post/", {
            method: 'POST',
            headers: {'Content-type': 'application/json'},
            body: JSON.stringify({msg: "me when"})
        }).then((res) => res.json())
        console.log(r)
    })
</script>
</html>