<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/icon.png">
    <title>chat-site</title>
</head>
<body>
    <img id="background" src="../assets/images/background.jpeg">
    <div id="main-content">
        <div id="gaming">
            <h1 id="welcome">Welcome to chat-site.</h1>
            <p><a id="signup" href="/account/register">Sign up</a> to start chatting. Already have an account? <a href="/account/login">Log in</a> here.</p>
        </div>
        <div id="more-info">
            <h1>chat-site</h1>
            <p>chat-site is a web-based messaging app made by <a target="_blank" href="https://github.com/ayush-shrivastava003">ayush-shrivastava003</a> on GitHub.</p>

            <h1>dependencies</h1>
                <p>Web server framework - Express</p>
                <p>Web server language - Node.js</p>
                <p>Database interaction - mongoose</p>
                <p>Web sockets - socket.io</p>
                <p>View engine - EJS</p>
        </div>
    </div>
</body>
</html>