<% messages.map(msg => { %>
        <div class="message">
            <div class="author-date">
                <p><%= msg.author %></p>
                <p class="date"><%= msg.date %></p>
            </div>
            <p class="content"><%= msg.content %></p>
        </div>
<% }) %>