<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/icon.png">
    <title>register - chat-site</title>
</head>
<body>
    <div id="form-container">
        <h1>register</h1>
        <form id="form">
            <input type="text" id="username" placeholder="Your username">
            <br>
            <input type="password" id="password" placeholder="Your password">
            <br>
            <input type="submit" id="submit" value="submit">
        </form>
        <p>If you have an account, log in <a href="/account/login">here</a>.</p>
    </div>
</body>
<script src="../assets/js/register.js"></script>
</html>