@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Inconsolata&display=swap');

:root {
    --main-font: "Hind";
    /* hsl(224, 41%, 29%) */
    --main-color: hsl(231, 29%, 25%);
    --font-color: #ffffff;
    --secondary-color: #4D482A;
    --secondary-color-highlight: #534e2f;
    --dark-color: #1f1d12;
}

.slide-button {
    height: 50px;
    width: 150px;
    color: var(--font-color);
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #1f1d12;
    box-shadow: inset 0 0 0 0 var(--secondary-color);
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: 0.5s;
    cursor: pointer

}

.slide-button:hover {
    /* box-shadow: inset 150px 0 0 0 rgb(77, 104, 126); */
    box-shadow: inset 150px 0 0 0 var(--secondary-color-highlight);
}