a.room-link {
    transition : color 0.25s;
}

a.room-link:link {
    color : var(--font-color);
}

a.room-link:link:hover {
    color : #aaa;
}

a.room-link:active {
    color : var(--dark-color);
}

a.room-link:visited {
    color : #ccc;
}

a.room-link:visited:hover {
    color : #888;
}

div#room-container {
    margin-left : 5%;
}

button#new-room {
    margin-left : 2%;
}